*{
    margin:5px;
    padding:10px;
    align-items: center;
}
body{
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    display: center;
    flex-direction: center;
    justify-content: center;
    align-items: center;

}



header{
    position: relative;
    top:5px;
}
.logo{
    margin-left: auto;
    width: 100px;
    height:auto;

}
nav{
    text-align:center;
    margin:10px, 0;
    padding: 10px;
    margin-bottom: 0px;
    margin-top:0%;
}
nav a{
    text-decoration: none;
    border-radius: 5px;
    color:black;
    padding:3px 8px;
}
nav a:hover {
    text-decoration: none;
    border-radius: 1px;
    color: black;
    padding: 3px 8px;
    background-color: #D6D6D6;
    border-bottom: 3px solid #EA0000;
  }

  #slider{
    margin-bottom:auto;
    align-items:center;
    width: 60%;
    max-width: 500px;
    height: 100px;
    max-height: 750px;
    position:relative;
}
#slider img{
    opacity: 0;
    position:absolute;
    width:100%;
    height: 100%;
    object-fit:cover;
}

#slider img.selected{
    opacity:1;
}
#vitrine{
    display:flex;
    width:auto;
    flex-direction: column;
}
.vitrine_collum{
    align-items: center;
    display:flex;
    flex-direction:row;
}
.vitrine-foto{
    width:250px;
    height:300px;
    margin-left:15px;
    margin-right:25px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15%;
}
#banner-promocao{
    width: auto;
    height: 500px;

}
#banner-promocao img{
    margin-left: 100px;
    width: 1500px;
    max-width: 2500px;
    max-height: 500px;
    height: 500px;
    margin-bottom: 15px;
}
#about{
margin-left: auto;
margin-right: auto;
align-items: flex-start;
justify-content:center;
display:flex;
flex-direction: column;
align-items: center;
}


.elemento-collum{
    display:flex;
    margin-left:15px;
    justify-content:space-around;
}

#localizacao{
    display:flex;
    align-items: initial;
}
.mapa{
    display:flex;
    margin-top: 5px;
}
.mapa-local{
    width: 300px;
    font-size:16px;
}
.contato{
margin-top: 112px;
}

.modal-container{
    width:100vw;
    height:100vh;
    /* alpha de 0.5 para ficar um pouco transparente*/
    background:rgba(0,0,0,.5);
    position:fixed;
    top:0px;
    left:0px;
    z-index:2000;
    display:none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar{
    display:flex;
}

.modal{
    background-color: white;
    width:60%;
    min-width:300px;
    padding:40px;
    border:6px solid;
    box-shadow:0 0 0 10px white;
    position:relative;
}

@keyframes modal{
    from{
        opacity: 0;
        transform:translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}

.mostrar .modal{
    animation:modal .3s;
}

.fechar{
    position:absolute;
    top:-30px;
    right:-30px;
    width: 50px;
    height:50px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #EA0000;
    color:white;
    font-family: monospace;
    cursor: pointer;
    box-shadow:0 4px 4px 0 rgba(0,0,0,.3);
    font-size: 1.2em;
}
/* MEDIA QUERY PARA TIPOS DIFERENTES DE TELAS - REPONSIVIDADE
        @media screen (max-width:700px) {
        body {
            background-color:blue;
            display:flex;
        }
        
    }

    */
    
